--
-- PostgreSQL database dump
--

-- Dumped from database version 16.4 (Debian 16.4-1.pgdg110+2)
-- Dumped by pg_dump version 16.4 (Debian 16.4-1.pgdg110+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: ilceler; Type: TABLE DATA; Schema: public; Owner: cbs_user
--

COPY public.ilceler (id, ad) FROM stdin;
1	Melikgazi
2	Kocasinan
3	Talas
4	Hac─▒lar
5	─░ncesu
6	Develi
7	Yahyal─▒
8	B├╝nyan
9	P─▒narba┼ş─▒
10	Sar─▒o─şlan
11	Tomarza
12	Ye┼şilhisar
\.


--
-- Data for Name: yesil_alanlar; Type: TABLE DATA; Schema: public; Owner: cbs_user
--



--
-- Data for Name: tesisler; Type: TABLE DATA; Schema: public; Owner: cbs_user
--



--
-- Name: ilceler_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cbs_user
--

SELECT pg_catalog.setval('public.ilceler_id_seq', 12, true);


--
-- Name: tesisler_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cbs_user
--

SELECT pg_catalog.setval('public.tesisler_id_seq', 1038, true);


--
-- Name: yesil_alanlar_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cbs_user
--

SELECT pg_catalog.setval('public.yesil_alanlar_id_seq', 452, true);


--
-- PostgreSQL database dump complete
--

